<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="ad.size" content="">
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript">
            var clickTag = "";
        </script>
        <script defer type="text/javascript">
            window.onload = function(){
                document.body.className += 'loaded';
                scrollDiv_init();
                bannerAnimation.play();
            }
        </script>
    </head>
    <body>
        <div id="banner">

            <!--Object-->

            <div id="object" class="sprite">
                
            </div>

            <!--Primary Link-->

            <a id="primary-link" href="javascript:window.open(window.clickTag)"></a>

            <!--ISI Window-->

            <div id="isi">
                <div class="container">
                    <h1>Important Safety Information</h1>
                </div>
            </div>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>