<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!--Analytics-->

        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Site Name</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <!--Icons-->

        <!--Open Graph-->

        <meta property="og:url" content="https://">
        <meta property="og:type" content="product">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">

        <!--Twitter-->

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">

         <!--CSS-->

        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>

        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/" target="_blank" rel="noopener">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <a class="skip-link" href='#main'>Skip to content</a>

        <!--
        >>================================================================================>
        Main Header
        >>================================================================================>
        -->

        <header id="main-header">
            <div class="container">
                <div class="toolbar">
                    <a href="/" class="site-logo" title="← Back to the homepage">
                        <picture>
                            <source srcset="/img/site-logo.png, /img/site-logo@2x.png 2x">
                            <img src="/img/site-logo.png" alt="">
                        </picture>
                        <span>Site Name</span>
                    </a>
                    <button id="burger" aria-label="Click to expand full site navigation">
                        <span></span>
                    </button>
                </div>
                <nav class="primary-navigation">
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main id="main">
            <div class="columns">
                <div class="">

                </div>
            </div>
        </main>
        
        <script src="js/main.js"></script>

    </body>
</html>
