/*
>>================================================================================>
WP Editor Styles
>>================================================================================>
*/

.wp-block {
    max-width: 1000px;
}

.editor-styles-wrapper {
    background-color: #f7f7f7 !important;
}

.acf-block-body .acf-fields>.acf-field.acf-field-message[data-type="message"]:first-child {
    background-color: #1D2327 !important;
    color: #fff !important;
}

.block-editor-block-list__block.wp-block {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}

.acf-block-body .acf-fields>.acf-field.acf-field-message[data-type="message"]:first-child .acf-label {
    margin-bottom: 0;
}

.acf-radio-list {
    padding: 0 !important;
    margin: 0 !important;
}