<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Email</title>
        <link rel="stylesheet" href="css/inline.css" />
    </head>
    <body>

        <!--
        >>================================================================================>
        Wrapper
        >>================================================================================>
        -->

        <table id="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
            <tr>
                <td align="center" valign="top">

                    <!--
                    >>================================================================================>
                    Container Table
                    >>================================================================================>
                    -->
                    
                    <table id="container" border="0" cellpadding="0" cellspacing="0" width="600">
                        <tr>
                            <td width="600">
                                
                                <!--
                                >>================================================================================>
                                Header
                                >>================================================================================>
                                -->

                                <table id="header" border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tr>
                                        <td class="empty" width="600"></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td class="empty">
                                <img src="img/spacer.gif" width="600" height="34" alt="" />
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <!--
                                >>================================================================================>
                                Content
                                >>================================================================================>
                                -->

                                <table border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tr>
                                        <td class="empty" width="25">
                                            <img src="img/spacer.gif" width="25" height="33" alt="" />
                                        </td>
                                        <td class="empty" width="550">
                                            <img src="img/spacer.gif" width="550" height="33" alt="" />
                                        </td>
                                        <td class="empty" width="25">
                                            <img src="img/spacer.gif" width="25" height="33" alt="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="empty">&nbsp;</td>
                                        <td>
                                            <!-- Content Goes Here -->
                                        </td>
                                        <td class="empty">&nbsp;</td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                    </table>
                    
                </td>
            </tr>
        </table>
    </body>
</html>