/*
>>================================================================================>
Site Variables
>>================================================================================>
*/

/*
Font Weights
>>------------->
*/

$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;

/*
Colors
>>------------->
*/

$color_white: #ffffff;
$color_black: #000000;